<template>
    <div>
        <section class="header">
            <h1 class="header-logo">墨者<span>Mohist</span></h1>
        </section>
        <ul class="nav">
            <li>首页</li>
            <li>学无止境</li>
            <li>慢生活</li>
            <li>关于我</li>
            <li>留言</li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "aaa"
    }
</script>

<style scoped lang="scss">
    .header {
        height: 60px;
        line-height: 60px;
        padding: 0 15px;

        span {
            @include Font(12px);
        }
    }
    .nav{
        @include Flex();
        background: #074979;
        height: 50px;
        line-height: 50px;
        padding: 0 15px;

        li{
            width: 110px;
            @include Font(16px, $c-fff, 600);
            text-align: center;
        }
    }
</style>