/*自定义图标*/
@font-face {
    font-family: "iconfont";
    src: url('fonts/iconfont.eot?t=1557369238526'); /* IE9 */
    src: url('fonts/iconfont.eot?t=1557369238526#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/iconfont.woff?t=1557369238526') format('woff'),
    url('fonts/iconfont.ttf?t=1557369238526') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('fonts/iconfont.svg?t=1557369238526#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="mohist-icon-"], [class*="mohist-icon-"] {
    font-family: 'iconfont';
    speak: none;
    font-style: normal;
    font-weight: 600;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    box-sizing: border-box;
    padding: 0 8px;
    -webkit-font-smoothing: antialiased; /*这个属性可以使页面上的字体抗锯齿,使用后字体看起来会更清晰舒服。*/
    -moz-osx-font-smoothing: grayscale;
}

.mohist-icon-email1:before {
    content: "\e603";
}

.mohist-icon-pass:before {
    content: "\e63a";
}

.mohist-icon-qq1:before {
    content: "\e616";
}

.mohist-icon-saoyisao:before {
    content: "\e63b";
}

.mohist-icon-jinzhi:before {
    content: "\e614";
}

.mohist-icon-export:before {
    content: "\e61d";
}

.mohist-icon-import:before {
    content: "\e61e";
}

.mohist-icon-menu1:before {
    content: "\e612";
}

.mohist-icon-essay:before {
    content: "\e613";
}

.mohist-icon-qq2:before {
    content: "\e63e";
}

.mohist-icon-person:before {
    content: "\e604";
}

.mohist-icon-weichat:before {
    content: "\e62f";
}

.mohist-icon-success:before {
    content: "\e60c";
}

.mohist-icon-email:before {
    content: "\e667";
}

.mohist-icon-xin:before {
    content: "\e636";
}

.mohist-icon-edit:before {
    content: "\e607";
}

.mohist-icon-voice:before {
    content: "\e609";
}

.mohist-icon-calendar:before {
    content: "\e60a";
}

.mohist-icon-add:before {
    content: "\e60d";
}

.mohist-icon-info:before {
    content: "\e61a";
}

.mohist-icont-reload:before {
    content: "\e61c";
}

.mohist-icon-clear:before {
    content: "\e620";
}

.mohist-icon-gift:before {
    content: "\e622";
}

.mohist-icon-img:before {
    content: "\e623";
}

.mohist-icon-del:before {
    content: "\e624";
}

.mohist-icon-clock:before {
    content: "\e625";
}

.mohist-icon-copy:before {
    content: "\e626";
}

.mohist-icon-z:before {
    content: "\e627";
}

.mohist-icon-tel:before {
    content: "\e62e";
}

.mohist-icon-full-screen:before {
    content: "\e654";
}

.mohist-icon-blog1:before {
    content: "\e600";
}

.mohist-icon-blog:before {
    content: "\e60b";
}

.mohist-icon-weixin:before {
    content: "\e666";
}

.mohist-icon-jisuanqi:before {
    content: "\e62b";
}

.mohist-icon-usb:before {
    content: "\e62d";
}

.mohist-icon-logo:before {
    content: "\e6ba";
}

.mohist-icon-dingyue:before {
    content: "\e6bb";
}

.mohist-icon-map:before {
    content: "\e6bc";
}

.mohist-icon-arrowdown:before {
    content: "\e6be";
}

.mohist-icon-arrowright:before {
    content: "\e6c2";
}

.mohist-icon-phone:before {
    content: "\e6c3";
}

.mohist-icon-xuqiu:before {
    content: "\e6c4";
}

.mohist-icon-report:before {
    content: "\e635";
}

.mohist-icon-recharge:before {
    content: "\e639";
}

.mohist-icon-warn:before {
    content: "\e642";
}

.mohist-icon-cell:before {
    content: "\e647";
}

.mohist-icon-menu:before {
    content: "\e648";
}

.mohist-icon-diqiu:before {
    content: "\e649";
}

.mohist-icon-location:before {
    content: "\e64a";
}

.mohist-icon-diejia:before {
    content: "\e64d";
}

.mohist-icon-shezhi:before {
    content: "\e64e";
}

.mohist-icon-home:before {
    content: "\e651";
}

.mohist-icon-safe:before {
    content: "\e652";
}

.mohist-icon-shuju:before {
    content: "\e655";
}

.mohist-icon-pie:before {
    content: "\e656";
}

.mohist-icon-setting:before {
    content: "\e657";
}

.mohist-icon-close:before {
    content: "\e6c7";
}
