<template>
    <div>
        <el-upload
                drag
                action="https://jsonplaceholder.typicode.com/posts/"
                lass="uploader" accept="image/*"
                ref="upload"
                list-type="picture-card"
                :show-file-list="false"
                :data="params.data"
                multiple
                :on-change="uploadOnChange"
                :on-success="uploadOnSuccess"
                :on-error="uploadOnError"
                :http-request="uploadOnRequest"
                :auto-upload="false"
                :on-progress="uploadOnProgress"
                :before-upload="beforeUpload"
                >
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
            <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div>
        </el-upload>
        <!--<el-upload class="uploader" accept="image/*"-->
                   <!--ref="upload"-->
                   <!--list-type="picture-card"-->
                   <!--:show-file-list="false"-->
                   <!--:action="params.action"-->
                   <!--:data="params.data"-->
                   <!--multiple-->
                   <!--:on-change="uploadOnChange"-->
                   <!--:on-success="uploadOnSuccess"-->
                   <!--:on-error="uploadOnError"-->
                   <!--:http-request="uploadOnRequest"-->
                   <!--:auto-upload="false"-->
                   <!--:on-progress="uploadOnProgress">-->
            <!--<el-button type="primary">点击上传</el-button>-->
        <!--</el-upload>-->

        <el-button type="primary" @click="tijiao">点击提交</el-button>

        <input type="file" @change="fileChange" id="filesInput">
    </div>
</template>

<script>
    export default {
        name: "index",
        data(){
          return {
              params: {
                  action: 'http://aaaa',
                  data: {
                      a: 1
                  }
              }
          }
        },
        methods: {
            tijiao(){
                this.$refs.upload.submit();
            },
            uploadOnChange(){
                console.log(arguments)
            },
            uploadOnError(){

            },
            uploadOnProgress(el, files){

                console.log(el, files)
            },
            beforeUpload(files){
                console.log(files, arguments);
            },
            uploadOnSuccess() {
                console.log(e, "e------");
                this.progress = Math.floor(e.percent);
                console.log(file, "file------")
                var type = file.file.name.split('.')
            },
            uploadOnRequest(files){
                debugger
                console.log(arguments)
            },
            fileChange(el){
                let filesInput = document.getElementById("filesInput");
                // console.log(el, filesInput.files)
            }
        }
    }
</script>

<style scoped>

</style>