<template>
    <div id="resume">
        <div class="head">
            <div class="head-cont">
                <div class="head-left">
                    <span>杨九平</span>
                    <span>Web前端开发工程师</span>
                </div>
                <div class="head-right">
                    <ul>
                        <li><a href="###"><i class="iconfont-wechat"></i>weichat</a></li>
                        <li><a href="###"><i class="iconfont-email"></i>792611982@qq.com</a></li>
                        <li><a href="###"><i class="iconfont-tel"></i>17612161792</a></li>
                        <li>
                            <router-link to="/index"><i class="iconfont-blog"></i>个人博客</router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="nav">
            <div class="nav-cont">

                <div class="nav-title">
                    <h3>精通前端，涉猎后端</h3>
                    <h4>编织有艺术感的代码</h4>
                </div>
                <ul class="nav-content">
                    <li>
                        <h4>JavaScript</h4>
                        <p>精通JavaScript。编写过DOM与AJAX的类库、CMD模块加载器、基于ES3的Promise；熟悉正则表达式；有Vue.js、微信小程序项目经验。</p>
                    </li>
                    <li>
                        <h4>HTML & CSS</h4>
                        <p>有扎实的HTML和CSS功底，熟悉流式布局和弹性盒子布局，能处理PC和移动端各主流浏览器的兼容问题。</p>
                    </li>
                    <li>
                        <h4>Node.js</h4>
                        <p>熟悉Node.js，开发过多个Web应用（基于Express）和命令行工具。</p>
                    </li>
                    <li>
                        <h4>SQL & MongoDB</h4>
                        <p>掌握MySQL、SQLite等数据库的使用，能熟练设计中、小规模应用的数据库。</p>
                    </li>
                    <li>
                        <h4>Photoshop</h4>
                        <p>能使用Photoshop进行简单的图片处理和平面设计。</p>
                    </li>
                    <li>
                        <h4>Java, C, C#, Cocos2d.js</h4>
                        <p>能使用Photoshop进行简单的图片处理和平面设计。</p>
                    </li>
                </ul>

            </div>
        </div>

        <section class="work">
            <div class="work-cont">
                <div class="work-title">
                    <h3>4年工作经验</h3>
                    <h4>请不要问我哪来的四年工作经验</h4>
                </div>
                <ul>
                    <li>
                        <div class="work-time">
                            <i></i>
                            <span>
                                至今
                            </span>
                        </div>

                        <div class="work-company">
                            <div class="company-left">
                                <a href="https://www.hand-china.com/" target="_blank">
                                    <img src="../../static/images/resume/hand-logo.svg" alt="">
                                </a>
                            </div>

                            <div class="company-right">
                                上海汉得信息技术股份有限公司
                                <span>(前端开发工程师)</span>
                            </div>
                        </div>

                        <div class="work-duty">
                            前端技术负责人。使用Node.js搭建中间平台（「Back2Front」框架的雏形）实现前后端分离，并在此基础上开发美黛拉手机站和PC站；后期在部分数据交互较多的页面中使用了「Vue.js」。

                            因公司业务重心的调整而离职。
                        </div>
                    </li>

                    <li>
                        <div class="work-time">
                            <i></i>
                            <span>
                                2018-03
                            </span>
                        </div>

                        <div class="work-company">
                            <div class="company-left">
                                <a href="http://www.vsatsh.cn/" target="_blank">
                                    <img src="../../static/images/resume/vsat-logo.png" alt="">
                                </a>
                            </div>

                            <div class="company-right">
                                上海维赛特科技实业有限公司
                                <span>(前端开发工程师)</span>
                            </div>
                        </div>

                        <div class="work-duty">
                            前端技术负责人。使用Node.js搭建中间平台（「Back2Front」框架的雏形）实现前后端分离，并在此基础上开发美黛拉手机站和PC站；后期在部分数据交互较多的页面中使用了「Vue.js」。

                            因公司业务重心的调整而离职。
                        </div>
                    </li>

                    <li>
                        <div class="work-time">
                            <i></i>
                            <span>
                                2015-06
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section class="project">
            <div class="project-cont">
                <div class="project-title">
                    <h3>丰富的项目经验</h3>
                    <h4>业余项目与公司项目相得益彰</h4>
                </div>

                <ul>
                    <li>
                        <div class="project-list show-on">
                            <div class="list-details">
                                <div class="project-name">
                                    <div class="name-left">
                                        <h4>沪港通专题 (上线项目)</h4>
                                        <ul>
                                            <li>jq</li>
                                            <li>HTML</li>
                                            <li>CSS</li>
                                        </ul>
                                    </div>
                                    <div class="name-right">
                                        2018-122
                                    </div>
                                </div>

                                <div class="project-duty">
                                    这是详细内容 这是详细内容 这是详细内容 这是详细内容 这是详细内容 这是详细内容 这是详细内容
                                </div>

                                <div class="project-address">
                                    <a href="###">项目地址</a>
                                </div>
                            </div>
                            <div class="list-show">
                                <img src="../../static/images/resume/hand-logo.svg" alt="">
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="project-list show-on">
                            <div class="list-details">
                                <div class="project-name">
                                    <div class="name-left">
                                        <h4>象屿*两江御府 (上线项目)</h4>
                                        <ul>
                                            <li style="background-color: #5bc0de;">jq</li>
                                            <li style="background-color: #337ab7;">animated</li>
                                        </ul>
                                    </div>
                                    <div class="name-right">
                                        2015-12
                                    </div>
                                </div>
                                <div class="project-duty">
                                    房地产项目，主旨是展示别墅的优势，主要包括：环境，地势，以及交通。其中也在项目中展现别墅的内置生活氛围，给客户很直观的视觉体验，提高客户的购买欲，而且页面中的动画效果也更加的吸引用户查看与理解。
                                </div>
                                <div class="project-address">
                                    <a href="###">项目地址</a>
                                </div>
                            </div>

                            <div class="list-show">
                                <img src="../../static/images/resume/xy01.png" alt="">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</template>

<script>

    export default {
        name: "resume",
        methods: {
            ClickCopy() {

            }
        },
        created() {

        }
    }
</script>

<style lang='scss' scoped>
    #resume {
        .head {
            box-shadow: 1px 5px 5px $c-ddd;

            .head-cont {
                max-width: 1200px;
                margin: 0 auto;
                min-width: 380px;
                padding: 20px 10px;
                background-color: $c-fff;
                @include Flex();
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                .head-left {
                    width: 400px;
                    min-width: 250px;
                    span {
                        &:first-child {
                            display: inline-block;
                            @include Font(45px, $c-000);
                        }

                        &:last-child {
                            display: inline-block;
                            @include Font(25px);
                        }
                    }
                }

                .head-right {
                    width: 600px;
                    ul {
                        min-width: 580px;
                        li {
                            height: 100px;
                            display: inline-block;
                            font-size: 16px;
                            margin-left: 8px;
                        }
                    }
                }
            }
        }

        .nav {
            box-shadow: 1px 5px 5px $c-ddd;
            .nav-cont {
                max-width: 1200px;
                margin: 15px auto 0;
                background-color: $c-fff;
                padding: 15px;
                .nav-title {
                    text-align: center;

                    h4 {
                        color: $c-999;
                    }
                }

                .nav-content {
                    @keyframes GrowWidth {
                        0% {
                            width: 0;
                        }

                        100% {
                            width: 100%;
                        }
                    }

                    li {
                        box-sizing: border-box;
                        margin: 20px 0;

                        @include Font(16px, '', 400);
                        animation: GrowWidth 2s;

                        &:first-child,
                        &:nth-child(2) {
                            z-index: 99;
                            border-left: 6px solid #3498db;
                            h4 {
                                z-index: 9;
                                box-sizing: border-box;
                                padding: 15px;
                                width: 100%;
                                background-color: #d6efff;
                                color: #2a7da9;
                            }
                        }

                        &:nth-child(3),
                        &:nth-child(4) {
                            border-left: 6px solid #80bd01;
                            h4 {
                                box-sizing: border-box;
                                padding: 15px;
                                width: 90%;
                                background-color: #eaf6d0;
                                color: #6e9c0f;
                            }
                        }

                        &:nth-child(5),
                        &:nth-child(6) {
                            border-left: 6px solid #fdbc40;
                            h4 {
                                box-sizing: border-box;
                                padding: 15px;
                                width: 80%;
                                background-color: #fff6dd;
                                color: #ff742a;
                            }
                        }

                        p {
                            display: none;
                        }
                    }

                }
            }
        }

        .work {
            .work-cont {
                max-width: 1200px;
                margin: 0 auto;
                padding: 20px;

                .work-title {
                    text-align: center;
                    padding: 15px 0;
                }

                ul {
                    li {
                        border-left: 6px solid $c-999;
                        padding-left: 7px;
                        position: relative;

                        .work-time {
                            i {
                                position: absolute;
                                width: 18px;
                                height: 18px;
                                background-color: $c-timer;
                                border-radius: 50%;
                                left: -12px;
                                top: 0;
                            }
                            span {
                                margin-left: 15px;
                                @include Font(30px);
                            }
                        }

                        .work-company {
                            margin: 15px 0;
                            @include Flex();
                            align-items: center;
                            flex-wrap: wrap;

                            .company-left {
                                height: 40px;
                                a {
                                    width: 200px;
                                    height: 40px;
                                    float: left;
                                    padding: 5px 0 0 10px;
                                }
                            }

                            .company-right {
                                margin-left: 20px;
                                @include Font(30px);
                                span {
                                    @include Font(20px)
                                }
                            }
                        }

                        .work-duty {
                            @include Font(20px);
                            padding: 20px;
                        }

                        &:last-child {
                            .work-time {
                                i {
                                    top: 100% !important;
                                }
                            }
                        }
                    }
                }

            }
        }

        .project {
            .project-cont {
                max-width: 1200px;
                margin: 0 auto;
                padding: 20px;

                .project-title {
                    text-align: center;
                    padding: 15px 0;
                }

                &>ul {
                    &>li {
                        margin: 25px 0;
                        padding-bottom: 15px;
                        border-bottom: 2px dashed $c-ddd;
                        .show-on{
                            @include Flex();
                            justify-content: space-between;
                            align-items: center;
                        }

                        .project-list {
                            .list-details {
                                padding: 0 15px;
                                .project-name {
                                    @include Flex();
                                    justify-content: space-between;
                                    align-items: center;

                                    .name-left {
                                        h4 {
                                            @include Font(25px);
                                        }
                                        ul {
                                            li {
                                                float: left;
                                                padding: 8px;
                                                margin: 8px;
                                                border-radius: 5px;
                                                background-color: $c-success;
                                                @include Font(16px, $c-fff);
                                            }
                                        }
                                    }

                                    .name-right{
                                        @include Font(18px);
                                    }
                                }

                                .project-duty{
                                    @include Font(20px);
                                }

                                .project-address{
                                    text-align: right;
                                    margin-top: 15px;
                                    @include Font(18px, $c-info);
                                }
                            }

                            .list-show {
                                width: 300px;
                                img{
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }

                    }
                }
            }
        }
    }


</style>