<template>
    <div>
        <div class="head">
            <p>{{year}}年度</p>
            <p>安全绿十字</p>
            <p>GREEN CROSS FOR SAFETY</p>
        </div>

        <div class="cross">
            <div class="cross-item" v-for="(item, index) in list" :key="index" :class="item ? 'show' : 'hide'">
                <div class="item-gb">{{item}}</div>
                <div v-if="item">
                    <table>
                        <thead>
                            <tr>
                                <td>日</td>
                                <td>一</td>
                                <td>二</td>
                                <td>三</td>
                                <td>四</td>
                                <td>五</td>
                                <td>六</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(row, rowInd) in calendar[item]" :key='rowInd'>
                                <td v-for="(cell, cellInd) in row" :key="cellInd">
                                    {{cell}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="footer">
            <p>安全生产第 <span>{{dateIndex}}</span> 天</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "safetyGreenCross",
        data() {
            return {
                list: ['', 1, 2, '', 3, 4, 5, 6, 7, 8, 9, 10, '', 11, 12, ''],
                calendar: {}
            }
        },
        methods: {
            init() {
                this.year = new Date().getFullYear();
                this.dateIndex = this.dateIndexInYear();
            },
            showCalendar(month) {
                //根据年月生成日历
                let date = new Date(this.year, month, 1);//month月的第一天
                let day = date.getDay();//第一天是星期几
                let days = new Date(this.year, month, 0).getDate();//month月的总天数
                let temp = Math.floor((days + day) / 7);
                let rows = (days + day) % 7 == 0 ? temp : (temp + 1);//每个月几行
                let d = 1;

                let mounthArr = []
                for (var i = 0; i < rows; i++) {
                    //循环行
                    mounthArr[i] = []
                    for (var j = 1; j <= 7; j++) {
                        //循环列
                        if (d > days) {
                            //超过最大天数赋空
                            mounthArr[i].push('')
                            continue;
                        }
                        if (i == 0) {
                            //第一行判断month月第一天是星期几，例如星期二前面空两个周日、周一
                            if (j >= day + 1) {
                                mounthArr[i].push(d < 10 ? "0" + d : d)
                                d++;
                            } else {
                                mounthArr[i].push('')
                            }
                        } else {
                            mounthArr[i].push(d < 10 ? "0" + d : d)
                            d++;
                        }
                    }
                }
                this.calendar[month] = mounthArr
            },
            dateIndexInYear(){
                //计算今天是今年的第几天
                var nowDate = new Date();
                var initTime = new Date();
                initTime.setMonth(0); // 本年初始月份
                initTime.setDate(1); // 本年初始时间
                var differenceVal = nowDate - initTime ; // 今天的时间减去本年开始时间，获得相差的时间
                console.log(nowDate, initTime, differenceVal, Math.ceil(differenceVal/(24*60*60*1000)))
                return Math.ceil(differenceVal/(24*60*60*1000));
            }
        },
        created() {
            this.init();
            this.list.forEach(item => {
                if (item) {
                    this.showCalendar(item)
                }
            })
            console.log(this.calendar)
        }
    }
</script>

<style scoped lang="scss">
    .head{
        margin: 30px 0;
        p{
            text-align: center;

            &:nth-child(1){
                font-size: 55px;
                color: green;
                font-weight: 900;
                letter-spacing: 5px;
            }
            &:nth-child(2){
                font-size: 40px;
                font-weight: 900;
                color: rgb(25, 142, 74);
                letter-spacing: 20px;
            }
            &:nth-child(3){
                font-size: 20px;
                font-weight: 900;
                color: rgb(25, 142, 74);
            }
        }
    }

    .cross {
        display: flex;
        flex-wrap: wrap;
        width: 1200px;
        margin: 0 auto;


        .show{

        }

        .hide{
            visibility: hidden;
        }

        .cross-item {
            width: 25%;
            border: 1px solid green;
            box-sizing: border-box;
            padding: 10px;
            position: relative;

            .item-gb{
                position: absolute;
                width: 60px;
                height: 60px;
                text-align: center;
                line-height: 60px;
                left: calc(50% - 30px);
                top: calc(50% - 30px);
                font-size: 60px;
                font-weight: 900;
                opacity: 0.3;
                color: lightseagreen;
                z-index: 1;
                cursor: pointer;
            }

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(5),
            &:nth-child(8){
                border-top: 6px solid green;
            }

            &:nth-child(9),
            &:nth-child(12),
            &:nth-child(14),
            &:nth-child(15){
                border-bottom: 6px solid green;
            }

            &:nth-child(2),
            &:nth-child(5),
            &:nth-child(9),
            &:nth-child(14){
                border-left: 6px solid green;
            }

            &:nth-child(3),
            &:nth-child(8),
            &:nth-child(12),
            &:nth-child(15){
                border-right: 6px solid green;
            }

            table {
                width: 100%;
                border: 0;
                border-collapse: collapse;
                border-spacing: 0;
                thead{
                    border-bottom: 1px solid #dddddd;
                }
                thead tr td,
                tbody tr td {
                    text-align: center;
                    line-height: 30px;
                    cursor: pointer;
                }
            }
        }
    }

    .footer{
        text-align: center;
        margin: 30px 0;
        p{
            font-size: 60px;
            span{
                text-decoration: underline;
            }
        }
    }
</style>