<template>
    <el-form class="form-panel" ref="dataform" :model="dataform" label-width="80px">
        <el-form-item class="form-panel-item" title="名称" label="名称" :rules='rules.name'>
            <el-input v-model="dataform.name"></el-input>
        </el-form-item>
        <el-form-item class="form-panel-item" label="性别" prop='sex' :rules="rules.sex">
            <el-select :no-match-text="aaaa ? aaaa() : ''" no-data-text="ccc" filterable v-model="dataform.sex"
                       placeholder="请选择性别" @change="selectChange">
                <el-option label="男" key="0" value="0"></el-option>
                <el-option label="女" key="1" value="1"></el-option>
                <el-option label="未知" key="2" value="2"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item class="form-panel-item" label="性别" prop='hobby' :rules="rules.sex">
            <el-select :no-match-text="bbb ? bbb() : ''" no-data-text="ccc" filterable v-model="dataform.hobby"
                       placeholder="请选择性别" @change="selectChange">
                <el-option label="男" key="0" value="0"></el-option>
                <el-option label="女" key="1" value="1"></el-option>
                <el-option label="未知" key="2" value="2"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item class="form-panel-item" label="年龄" :rules="rules.age" prop='age'>
            <el-input v-model="dataform.age"></el-input>
        </el-form-item>
        <el-form-item class="form-panel-item" label="工厂" :rules="rules.plant" prop='plant'>
            <el-input v-model="dataform.plant"></el-input>
        </el-form-item>
        <el-form-item class="form-panel-item">
            <el-button type="primary" @click="onSubmit">立即创建</el-button>
            <el-button>取消</el-button>
            <el-button @click="giveValue">赋值</el-button>
            <el-button @click="clear">clear</el-button>
            <el-button @click="reset">reset</el-button>
        </el-form-item>
    </el-form>
</template>

<script>
    import {Validate} from "@/util/mohist"

    export default {
        name: "rulesForm",
        data() {
            return {
                dataform: {
                    name: '',
                    sex: '',
                    age: 0,
                    hobby: "",
                    plant: ''
                },
                aaa: true,
                rules: {
                    sex: [
                        {validator: Validate.minlength, trigger: 'submit', len: 0}
                    ],
                    name: [
                        {required: true, message: '请输入活动名称', trigger: 'submit'},
                        {min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'submit'}
                    ],
                    age: [
                        {validator: Validate.integer, required: true, trigger: 'submit', min: 0, max: 10}
                    ],
                    plant: [
                        {validator: Validate.rangelength, max: 3, required: true, trigger: 'submit'}
                    ]
                }
            }
        },
        created() {
        },
        methods: {
            aaaa() {
                console.log(arguments)
                this.dataform.sex = ''
            },
            bbb() {
                debugger
                console.log('hobby')
            },
            giveValue() {
                let obj
                this.dataform.name = '6666666666666'
                this.dataform.sex = '8'
                this.dataform.hobby = 10
            },
            selectChange(val) {
                console.log(val)
            },
            onSubmit() {
                this.$refs["dataform"].validate((valid) => {
                    if (valid) {
                        alert('submit!');
                    } else {
                        `                                                                                                                                                                                   `
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            clear() {
                this.$refs['dataform'].clearValidate()
            },
            reset() {
                this.$refs['dataform'].resetFields()
            }
        }
    }
</script>

<style lang="scss" scoped>
    .form-panel {
        width: 600px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;

        .form-panel-item {
            width: 100%;
        }
    }
</style>