<template>
    <div class="sim">
        <!--<el-row type="flex">-->
            <!--<el-col :span="12">-->
                <!--<div style="height: 100%;background-color: blue">aaa</div>-->
            <!--</el-col>-->
            <!--<el-col :span="12">-->
                <!--<div style="height: 450px;background-color: red"></div>-->
            <!--</el-col>-->
        <!--</el-row>-->

        <div class="equal-altitude">
            <div class="equal-altitude-item" style="background-color: #69606b;">
                <div style="height: 100%;background-color: red"></div>
            </div>
            <div class="equal-altitude-item" style="background-color: salmon;">
                <div style="height: 800px;background-color: salmon"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "sim",
        data(){
            return {
                a: {
                    a:1,
                    b: 2
                },
                b: {
                    c: 1,
                    b: 3
                }
            }
        },
        mounted(){
            let d = {...this.a, ...this.b}
            console.log(d)
        }
    }
</script>

<style>
    .equal-altitude{
        width: 100%;
        display: -webkit-flex;
        display:flex;
        -webkit-align-items: stretch;
        align-items: stretch;
    }

    .equal-altitude-item{
        width: 50%;
    }

</style>