<template>
    <div class="outside" v-clickOutside="handleClose">
        <button @click="show = !show">点击显示下拉菜单</button>
        <ul class="dropdown" v-show="show">
            <li>菜单1</li>
            <li>菜单2</li>
            <li>菜单3</li>
            <li>菜单4</li>
            <li>菜单5</li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "outside",
        data(){
            return{
                show: false
            }
        },
        directives: {
            clickOutside: {
                bind(el, binding, vnode){
                    /** el可以获取当前dom节点，并且进行编译，也可以操作事件 **/
                    /** binding指的是一个对象，一般不用 **/
                    /** vnode 是 Vue 编译生成的虚拟节点 **/
                    el.aaa = "aaaa"
                    console.log(el, el.aaa)
                    function documentHandler(e){
                        // console.log(e, el.contains(e.target), binding.expression)
                        if(el.contains(e.target)){
                            return false;
                        }

                        if(binding.expression){
                            // console.log(binding.value)
                            binding.value(e);
                        }
                    }
                    el._vueClickOutside_ = documentHandler;
                    document.addEventListener('click', documentHandler);
                },
                unbind(el, binding){
                    console.log(el, el._vueClickOutside_)
                    document.removeEventListener('click', el._vueClickOutside_);
                    delete el._vueClickOutside_;
                }
            }
        },
        methods: {
            handleClose(){
                this.show = false;
            }
        }
    }
</script>

<style scoped>

</style>