<template>
    <div>
        <section class="header">
            <div class="header-title">
                <div>
                    <h1>墨&nbsp;者</h1>
                    <p>剑气纵横三万里, 一剑光寒十九洲</p>
                </div>
                <a></a>
            </div>
        </section>

        <section class="about">
            <div class="about-title"> —&nbsp;欢迎走进我的世界&nbsp;—</div>
            <p>好看的皮囊千篇一律,有趣的灵魂万里挑一.</p>
            <p>爱好游戏,下棋,撸起代码就会废寝忘食.</p>
            <p>闲来无事喜欢读些哲学的书,对宗教文化很有兴趣.</p>
            <p>我不是宗教徒,但如果我是的话,我愿成为一名佛教徒.</p>
        </section>

        <section class="article">
            <div class="article-title"> —&nbsp;文章推荐&nbsp;—</div>
            <div class="article-container">
                <el-row :gutter="50">
                    <el-col :xs="24" :sm="24" :md="24" :lg="8" :xl="8" v-for="(item, index) in thumbnailList" :key="index">
                        <div class="thumbnail article-container-item">
                            <div class="img-container">
                                <img :src="item.imgSrc" alt="缩略图标">
                            </div>
                            <div class="thumbnail-caption">
                                <h3>{{item.title}}</h3>
                                <h5>{{item.date}}</h5>
                                <p>{{item.intro}}</p>
                                <p class="thumbnail-more">阅读更多</p>
                            </div>
                        </div>
                    </el-col>
                </el-row>
            </div>
        </section>

        <section class="footer">
            <div class="footer-cont">
                <div class="footer-cont-title">道心所指,天堑变通途!</div>
                <div class="footer-cont-update">
                    <div>更新时间: <span>{{updateTime}}</span></div>
                    <ul>
                        <li><i class="mohist-icon-map"></i></li>
                        <li><i class="mohist-icon-qq1"></i></li>
                        <li><i class="mohist-icon-email"></i></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright">Copyright &copy; 2019 墨者 All Rights Reserved V.3.1.3 豫ICP备17018565号</div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "index-page",
        data() {
            return {
                thumbnailList: [
                    {
                        title: "标题1",
                        imgSrc: require('@/assets/index/Thumbnail.jpg'),
                        date: '2019-05-08',
                        intro: "很想给你写封信,告诉你这里的天气. 昨夜的那场电影,还有我的心情."
                    },
                    {
                        title: "标题2",
                        imgSrc: require('@/assets/index/Thumbnai2.jpg'),
                        date: '2019-05-09',
                        intro: "很想给你写封信,告诉你这里的天气. 昨夜的那场电影,还有我的心情."
                    },
                    {
                        title: "标题3",
                        imgSrc: require('@/assets/index/Thumbnai3.jpg'),
                        date: '2019-05-10',
                        intro: "很想给你写封信,告诉你这里的天气. 昨夜的那场电影,还有我的心情."
                    }
                ],
                updateTime: '2019-05-14'
            }
        },
        methods: {
            jumpResume() {
                //跳转到简历页
                this.$router.push('/resume');
            },
            jumpBlogs() {
                //跳转到blog页
                this.$router.push('/blogs');
            }
        }
    }
</script>

<style scoped lang="scss">
    .header {
        /*简介*/
        display: table;
        width: 100%;
        height: 100vh;
        background: transparent url("../../assets/index/intro.jpg") no-repeat center fixed;
        background-size: cover;

        .header-title {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            letter-spacing: 3px;
            line-height: 80px;

            h1 {
                @include Font(32px, $c-fff);
            }
            p {
                @include Font(18px, $c-fff);
            }
        }
    }

    .about{
        padding: 30px 0;
        .about-title{
            @include Font(28px, #405E79, 900);
            text-align: center;
            padding-bottom: 30px;
        }
        p{
            text-align: center;
            line-height: 40px;
            color: #73777C;
        }
    }

    .article{
        background-color: #F7F7F9;
        padding: 30px 0;
        .article-title{
            @include Font(28px, #405E79, 900);
            text-align: center;
            padding-bottom: 30px;
        }

        .article-container{
            margin: 0 auto;
            @include respond-to(lg) {
                width: 1400px;
            }
            .article-container-item{
                &:hover{
                    box-shadow: 5px 5px 5px #dddddd;
                }
            }
        }
    }

    .footer{
        padding: 20px 0;
        background: transparent url("../../assets/index/botoom_bg_home.png") no-repeat center fixed;
        background-size: cover;
        .footer-cont{
            width: 1400px;
            margin: 0 auto;
            border-bottom: 3px solid  $c-ddd;
            .footer-cont-title{
                @include Font(22px, $c-fff);
            }
            .footer-cont-update{
                @include Font(16px, $c-fff);
                @include Flex();
                margin-top: 60px;
                justify-content: space-between;
                padding: 15px 0;

                span{
                    color: #29B6F6;
                }

                ul li{
                    float: left;
                }
            }
        }

        .footer-copyright{
            text-align: center;
            @include Font(14px, $c-fff);
            padding-top: 15px;
        }
    }

</style>