<template>
    <div class="father">
        <div class="head">这里是父组件</div>
        <el-form>a

        </el-form>
        <cont-pane class="foot" :aa="bb">
            <span>ccc</span>
            <span slot="name1"></span>
            <span slot="name2"></span>
        </cont-pane>
    </div>
</template>+

<script>
    import ContPane from '../../../components/contPane'
    export default {
        name: "learnSlot",
        components: {
            ContPane
        },
        data(){
          return {
              bb: 13
          }
        },
        mounted(){

        }
    }
</script>

<style scoped>
    .head{
        height: 80px;
        border-bottom: 1px solid #ddd;
        line-height: 80px;
        text-align: center;
    }
</style>