@import './variables';//引入公用变量
@import './mixin';//引入公用方法

@import './thumbnail';//引入缩略图

$breakpoints: (
        'xs': 'only screen and ( min-width: 480px)',
        'sm': 'only screen and ( min-width: 768px)',
        'md': 'only screen and ( min-width: 992px)',
        'lg': 'only screen and ( min-width: 1200px)',
) !default;

@mixin respond-to($breakpoint) {
    $query: map-get($breakpoints, $breakpoint);

    @if not $query {
        @error 'No value found for `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.';
    }

    @media #{if(type-of($query) == 'string', unquote($query), inspect($query))} {
        @content;
    }
}