
/*方法类*/
// 背景图片地址和大小
@mixin Bg($url, $posTop, $posLeft) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: $posTop $posLeft;
}

@mixin BorderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

//定位上下左右居中
@mixin AllCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//定位上下居中
@mixin TopCenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

//定位上下居中
@mixin LeftCenter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

//宽高
@mixin wh($width, $height){
    width: $width;
    height: $height;
}

//字体大小、行高、字体
//

//字体大小，颜色,粗细
@mixin Font($size: inherit, $color: inherit, $weight: 400){
    font-size: $size;
    color: $color;
    font-weight: $weight;
}

//flex 布局和 子元素 对其方式

@mixin Flex(){
    display: flex;
    display: -webkit-flex;
}

