/*缩略图*/
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: $c-f9;
    border: 1px solid $c-ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;

    & > .img-container {
        box-sizing: border-box;
        padding: 10px;
        img{
            margin-right: auto;
            margin-left: auto;
            max-width: 100%;
            height: 230px;
            width: 100%;
            display: block;
        }
    }

    .thumbnail-caption {
        padding: 9px 20px;
        color: #333;

        h3 {
            margin-top: 20px;
            @include Font(20px, $c-333, 900);
        }
        h5 {
            @include Font(14px, $c-999, 600);
            margin-bottom: 1px;
            text-align: right;
        }
        p {
            margin: 0 0 10px;
            @include Font(16px, $c-999, 100);
            letter-spacing: 1px;
        }

        p.thumbnail-more {
            color: #29B6F6;
            cursor: pointer;
        }
    }
}
