/*public variate*/
$c-000: #000;
$c-333: #333;
$c-body: #69606b; // 默认颜色
$c-timer: #3498db; //时间轴颜色
$c-36: #363636;
$c-b2: #b2b2b2;
$c-666: #666;
$c-999: #999;
$c-f30: #f30;
$c-ddd: #ddd;
$c-f9: #faf9f9;
$c-fff: #fff;
$c-bg: #243746;
$c-primary: #337ab7;
$c-success: #5cb85c;
$c-info: #5bc0de;
$c-warning: #f0ad4e;
$c-danger: #ac2925;

/*base color*/
$c-blue: #324157;
$c-light-blue: #3A71A8;
$c-red: #C03639;
$c-pink: #E65D6E;
$c-green: #30B08F;
$c-tiffany: #4AB7BD;
$c-yellow: #FEC171;
$c-panGreen: #30B08F;

// sidebar
$c-menuText: #bfcbd9;
$c-menuActiveText: #409EFF;
$subMenuActiveText: #f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$c-menuBg: #304156;
$c-menuHover: #263445;

$c-subMenuBg: #1f2d3d;
$c-subMenuHover: #001528;
