<template>
    <ul class="sidebar">
        <li v-for="(item, index) in listOptions" :key="index" @click="jumpRouter(item)">
            {{item.name}}
        </li>
    </ul>
</template>

<script>
    import exercise from '@/router/exercise'
    export default {
        name: "index",
        data(){
            return {

            }
        },
        computed: {
            listOptions(){
                return exercise[0].children
            }
        },
        methods: {
            jumpRouter(item){
                console.log(item.path)
                this.$router.push({path: item.path })
            }
        },
        mounted(){
        }
    }
</script>

<style scoped lang='scss'>
    .sidebar{
        li{
            cursor: pointer;
            text-align: center;
            line-height: 35px;
            font-size: 16px;
            border-bottom: 1px solid #ddd;

            &:hover{
                background-color: rgb(230, 230, 230);
            }
        }
    }
</style>