<template>
    <div>
        <!--头部start -->
        <learn-header></learn-header>
        <!--头部 end-->

        <section class="cont">
            <!--侧边栏 start -->
            <learn-sidebar></learn-sidebar>
            <!--侧边栏 end -->


            <!--内容 start -->
            <div class="cont-right">
                    <pre>
                        <code>
                            export default [{
                                path: '/project',
                                component: () => import('@/vivews/project')
                            }]
                        </code>
                    </pre>
            </div>
            <!--内容 end -->
        </section>
    </div>
</template>

<script>
    import learnHeader from "@/components/public/learn-header"
    import learnSidebar from "@/components/public/learn-sidebar"

    export default {
        name: "index",
        components: {
            learnHeader,
            learnSidebar
        },
        mounted(){
            console.log(this.$store.state.Public.name)
        }
    }
</script>

<style scoped lang="scss">
    .cont {

        .cont-right {
            margin-left: 205px;
            height: 500px;
            border-left: 1px solid red;
        }
    }
</style>