<template>
    <div class="transfer-panel">
        <input type="text" v-model="testWatch">
        <div class="transfer-block">
            <div class="transfer-block-head">
                未选
            </div>
            <div class="transfer-block-search">
                <input type="text" placeholder="请输入">
            </div>
            <ul class="transfer-block-body">
                <li v-for="(item, index) in noSelectData" :key="index" @click="handleNoSelectItme(item, index)">
                    {{item.label}}
                </li>
            </ul>
        </div>
        <div class="transfer-center">
            <div>全部右移<i class="el-icon-arrow-right el-icon--right" /></div>
            <div><i class="el-icon-arrow-left el-icon--right"/>全部左移</div>
        </div>
        <div class="transfer-block">
            <div class="transfer-block-head">
                已选
            </div>
            <div class="transfer-block-search">
                <input type="text" placeholder="请输入">
            </div>
            <ul class="transfer-block-body">
                <li v-for="(item, index) in selectedData" :key="index" @click="handleSelectedItme(item, index)">
                    {{item.label}}
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: "transfer",
        data() {
            return {
                testWatch: 0,
                noSelectData: [
                    {
                        label: 'a',
                        code: 0,
                        id: 0
                    },
                    {
                        label: 'b',
                        code: 1,
                        id: 1
                    },
                    {
                        label: 'c',
                        code: 2,
                        id: 2
                    },
                    {
                        label: 'd',
                        code: 3,
                        id: 3
                    },
                    {
                        label: 'e',
                        code: 4,
                        id: 4
                    },
                    {
                        label: 'f',
                        code: 5,
                        id: 5
                    }
                ],
                selectedData: []
            }
        },
        watch: {
            testWatch(newVal, oldVal){
                console.log(newVal, oldVal);
            }
        },
        methods: {
            handleNoSelectItme(item, index){
                //未选区域点击事件 将数据添加到右侧
                console.log(item, index)
                this.noSelectData.splice(index, 1)
                this.selectedData.push(item)
            },
            handleSelectedItme(item, index){
                //已选区域点击事件 将数据添加到左侧
                console.log(item, index)
                this.selectedData.splice(index, 1)
                this.noSelectData.push(item)
            }
        }
    }
</script>

<style lang="scss" scoped>
    .transfer-panel {
        width: 600px;
        margin: 0 auto;
        border: 1px solid #ddd;
        display: flex;

        &>div{
            height: 600px;
        }

        .transfer-block{
            border: 1px solid #ddd;
            width: 500px;

            .transfer-block-head{
                height: 40px;
                line-height: 40px;
                background: #f5f7fa;
                margin: 0;
                border-bottom: 1px solid #ebeef5;
                box-sizing: border-box;
                color: #000;
                text-align: center;
            }

            .transfer-block-search{
                padding: 10px;
                box-sizing: border-box;

                input{
                    width: 80%;
                    height: 30px;
                    line-height: 30px;
                    padding-left: 15px;
                    border-radius: 10px;
                    border: 1px solid #ddd;
                    outline: none;

                    &:focus{
                        /*outline: none;*/
                        border-color: #409eff;
                    }

                    &:hover{
                        border-color: #c0c4cc;
                    }
                }
            }

            .transfer-block-body{
                li{
                    cursor: pointer;
                    height: 30px;
                    line-height: 30px;
                    box-sizing: border-box;
                    padding-left: 15px;
                }
            }
        }

        .transfer-center{
            width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            div{
                line-height: 1;
                white-space: nowrap;
                cursor: pointer;
                background: #fff;
                border: 1px solid #dcdfe6;
                color: #606266;
                -webkit-appearance: none;
                text-align: center;
                box-sizing: border-box;
                outline: none;
                margin: 10px;
                transition: .1s;
                padding: 12px 20px;
                font-size: 14px;
                border-radius: 4px;
            }
        }
    }
</style>