<template>
    <div class="nav">
        <div>
            <h3>CSS</h3>
            <ul>
                <li>文章1</li>
                <li>文章2</li>
                <li>文章3</li>
                <li>文章4</li>
                <li>文章5</li>
            </ul>
        </div>
    </div>
</template>

<script>
    import exercise from '@/router/exercise'

    export default {
        name: "index",
        data() {
            return {}
        },
        computed: {
            listOptions() {
                console.log(exercise[0].children)
                return exercise[0].children
            }
        },
        methods: {
            jumpRouter(item) {
                console.log(item.path)
                this.$router.push({path: item.path})
            }
        },
        mounted(){
            console.log(exercise[0].children)
        }
    }
</script>

<style scoped lang="scss">
    .nav {
        width: 200px;
        float: left;
        border-right: 1px solid red;
        box-sizing: border-box;
        padding: 0 15px;
        h3 {
            padding: 8px 0;
        }
        ul li {
            padding-left: 15px;
            line-height: 25px;
            cursor: pointer;

            &:hover {
                color: red;
            }
        }
    }
</style>