<template>
    <div class='cont'>
        导入导出
        <div class="cont-left">
            <table-pane></table-pane>
        </div>
        <div class="cont-right">
            <div class="right-top">
                <input type="text" v-model="num">
                <form-pane :num = "num"></form-pane>
            </div>
            <div class="right-bottom">
                <sublist-pane></sublist-pane>
            </div>
        </div>
    </div>
</template>

<script>
    import TablePane from './tablePane'
    import FormPane from './formPane'
    import SublistPane from './sublistPane'
    export default {
        name: "contPane",
        props: {

        },
        components: {
            TablePane,
            FormPane,
            SublistPane
        },
        data(){
            return {
                num: 1,
            }
        },
        created(){
            console.log();
        }
    }
</script>

<style lang='scss'  scoped>
    .cont  {
        @include Flex();

        .cont-left{
            width: 50%;
        }

        .cont-right{
            width: 50%;

            .right-top{
                height: 200px;
            }

            .right-bottom{
                height: 200px;
            }
        }
    }
</style>