<template>
    <div class="form-pane">
        {{num}}
        <input type="text" v-model="num">
        <el-input></el-input>
    </div>
</template>

<script>
    export default {
        name: "formPane",
        props: {
            num: {
                default: 0
            }
        },
        watch: {
            num(val){
                console.log(val)
            }
        }
    }
</script>

<style scoped>

</style>