<template>
    <div class="testSlot">
        <slot></slot>
        <br/>
        <slot name="name1">cccccc</slot>
        <br/>
        <a href="">aaa</a>
    </div>
</template>

<script>
    export default {
        name: "testSlot"
    }
</script>

<style scoped>
    @import "./src/";
</style>