<template>
    <div><input type="button" value="touch me" @click="handleBatchDownload"></div>
</template>

<script>
    import JSZip from 'jszip'
    import FileSaver from 'file-saver'
    import axios from 'axios'
    export default {
        name: "jszip",
        methods: {
            handleBatchDownload() {
                const getFile = url => {
                    return new Promise((resolve, reject) => {
                        axios({
                            method:'get',
                            url,
                            // responseType: 'arraybuffer'
                        }).then(data => {
                            console.log(data)
                            resolve(data.data)
                        }).catch(error => {
                            reject(error.toString())
                        })
                    })
                }



                const data = ['./static/exercise/1.text', './static/exercise/2.text'] // 需要下载打包的路径, 可以是本地相对路径, 也可以是跨域的全路径
                const zip = new JSZip()
                const cache = {}
                const promises = []
                data.forEach(item => {
                    const promise = getFile(item).then(data => { // 下载文件, 并存成ArrayBuffer对象
                        const arr_name = item.split("/")
                        const file_name = arr_name[arr_name.length - 1] // 获取文件名
                        zip.file(file_name, data, { binary: true }) // 逐个添加文件
                        cache[file_name] = data
                    })
                    promises.push(promise)
                })

                Promise.all(promises).then(() => {
                    zip.generateAsync({type:"blob"}).then(content => { // 生成二进制流
                        FileSaver.saveAs(content, "打包下载.zip") // 利用file-saver保存文件
                        alert("下载完成")
                    })
                })
            },








            export_txt_to_zip(th, jsonData, txtName, zipName) {
                const zip = new JSZip()
                const txt_name = txtName || 'file'
                const zip_name = zipName || 'file'
                const data = jsonData
                let txtData = `${th}\r\n`
                data.forEach((row) => {
                    let tempStr = ''
                    tempStr = row.toString()
                    txtData += `${tempStr}\r\n`
                })
                zip.file(`${txt_name}.txt`, txtData)
                zip.generateAsync({
                    type: "blob"
                }).then((blob) => {
                    saveAs(blob, `${zip_name}.zip`)
                }, (err) => {
                    alert('导出失败')
                })
            },
            handleDownload() {
                this.downloadLoading = true
                // import('@/vendor/Export2Zip').then(zip => {
                //     const tHeader = ['Id', 'Title', 'Author', 'Readings', 'Date']
                //     const filterVal = ['id', 'title', 'author', 'pageviews', 'display_time']
                //     const list = this.list
                //     const data = this.formatJson(filterVal, list)
                //     zip.export_txt_to_zip(tHeader, data, this.filename, this.filename)
                //     this.downloadLoading = false
                // })
            },
            formatJson(filterVal, jsonData) {
                return jsonData.map(v => filterVal.map(j => v[j]))
            }
        }
    }
</script>

<style scoped>

</style>