<template>
    <div>
        <input type="text" v-model="codes" @focus="clickFile" placeholder="请输入二维码">
        <br>
        <input type="file" v-show="false" ref='imgFiles' accept="image/*" capture='camera' @change="readFile" value="ssss">
    </div>
</template>

<script>
    export default {
        data() {
            return {
                codes: ''
            }
        },

        methods: {
            clickFile(){
                this.$refs.imgFiles.click();
            },
            readFile(el){
                var getObjectURL = function (file) {
                    var url = null;
                    if (window.createObjectURL != undefined) {          // basic
                        url = window.createObjectURL(file);
                    } else if (window.URL != undefined) {               // mozilla(firefox)
                        url = window.URL.createObjectURL(file);
                    } else if (window.webkitURL != undefined) {         // webkit or chrome
                        url = window.webkitURL.createObjectURL(file);
                    }
                    return url;
                }
                let that = this;
                let source = el.target;
                var file = source.files[0];
                var qrcode = require('../../../../static/js/llqrcode').qrcode
                qrcode.decode(getObjectURL(file));
                qrcode.callback = function (imgMsg) {
                    console.log(imgMsg)
                    that.codes = imgMsg;
                }
            }
        },
    }
</script>

<style scoped>

</style>