<template>
    <div class="container">
        <div class="left">
            <sidebar></sidebar>
        </div>
        <div class="right">
            <router-view />
        </div>
    </div>
</template>

<script>
    import sidebar from '@/vivews/exercise/sidebar'
    export default {
        name: "exercise",
        components: {
            sidebar
        }
    }
</script>

<style lang='scss' scoped>
    .container{
        font-size: 16px;

        .left{
            float: left;
            width: 130px;
            border-right:  1px solid #5cb85c;
        }

        .right{
            margin-left: 130px;
        }
    }
</style>