<template>
    <div>
        <el-button type="text" @click="dialogVisible = true">点击打开 Dialog</el-button>
        <el-button type="text" @click="dialogPanel = true">点击打开 DialogPanel</el-button>
        <el-button type="text" @click="dialogPanel1 = true">点击打开 DialogPanel1</el-button>
        <DialogPanel v-if="dialogPanel" v-model="dialogPanel"></DialogPanel>
        <DialogPanel1 v-if="dialogPanel1" v-model="dialogPanel1"></DialogPanel1>

        <input type="file" @change="fileChange">
        <!--<el-dialog-->
                <!--title="提s示"-->
                <!--:visible.sync="dialogPanel"-->
                <!--width="30%">-->
            <!--<span>这是一段dd信息</span>-->
            <!--<span slot="footer" class="dialog-footer">-->
                <!--<el-button @click="dialogPanel = false">取 sfs消</el-button>-->
                <!--<el-button type="primary" @click="dialogPanel = false">确 sdf定</el-button>-->
              <!--</span>-->
        <!--</el-dialog>-->

        <!--<el-dialog-->
                <!--title="提示"-->
                <!--:visible.sync="dialogVisible"-->
                <!--width="30%"-->
                <!--:before-close="handleClose">-->
            <!--<span>这是一段信息</span>-->
            <!--<span slot="footer" class="dialog-footer">-->
                <!--<el-button @click="dialogVisible = false">取 消</el-button>-->
                <!--<el-button type="primary" @click="dialogVisible = false">确 定</el-button>-->
              <!--</span>-->
        <!--</el-dialog>-->
    </div>
</template>

<script>
    import DialogPanel from "./dialogPanel"
    import DialogPanel1  from "./dialogPanel1"

    export default {
        name: "index",
        components: {
            DialogPanel,
            DialogPanel1,
        },
        data() {
            return {
                dialogVisible: false,
                dialogPanel: false,
                dialogPanel1: false

            }
        },
        methods: {
            handleClose(){
                this.dialogVisible = false;
            },
            fileChange(el){
                console.log(el)
            }
        },
        created() {
        }
    }
</script>

<style scoped>

</style>